/* /public/css/contact.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    /* Space for Top Bar */
    padding-top: 70px;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.grid a {
    display: block;
    width: 100%;
    height: 100%;
}

.grid img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

@media (min-width: 768px) {
    .grid img {
        max-width: 250px;
    }
}